@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

h4, .h4 {
	font-size: 100%;
    font-weight: normal;
    font-style: normal;
}

.navbar-default {
	background-color: #2859a1;
	border-color: #2859A1;
	margin-bottom: 0px;
}

.navbar-fixed-top{
	top:0px;
}
.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover
	{
	color: #eeecec;
	background-color: #386AB4;
}

.navbar-default .navbar-toggle {
	border-color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover
	{
	background-color: #5FAFE4;
}

.dropdown a img {
	margin-right: 5px;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{
	color: #eeecec;
	background-color: #386AB4;
}

.page-content {
	margin-top: 15px;
	min-height: 600px;
	padding: 0px 20px;
	overflow: hidden;
	min-width: 300px;
	overflow: hidden;
}

.project-name{
	color: white;
	font-size: 25px;
	position: absolute;
	top: 10px;
	left: 50px;
}

.container {
    width: auto;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e7ea;
    z-index: 10000;
}

#status {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    font-size: 32px;
}

.detail_content {
	overflow: hidden;
	min-height: 600px;
	background-color: #FFFFFF;
}

.form-inline{
	margin: 15px 0px;
}

.table > thead >tr > th {
    border-left: 1px solid #d3dbde;
    background-color: #F3F7F8;
    font-weight: bold;
    font-size: 14px;
}

.dropdown-menu > li > a, .dropdown-menu > li > a{
	line-height: 35px;
	height: 35px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: #39b3d7;
	color: #FFFFFF;
}

@media (max-width: 767px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: #FFFFFF;
	}
	.nav.navbar-nav>li:hover>ul.dropdown-menu {
		display: none;
	}
}

.dropdown-menu{
	padding: 0px;
}
.divider {
	height: 1px;
	margin: 18px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.table > tbody > tr > td {
	vertical-align: middle;
}
.select2-results .select2-highlighted{
	background : #428bca 	
}

.form-horizontal{
	margin: 15px;
}

label.error , .has-error .control-label{
    color: red;
}

label.error:empty {
    display: none !important;    
}

label{
	color: black;
}
.asterisk {
    color: red;
}

.has-error .form-control{
	border-color: red;
}

.form-control{
	color: black;
}
